*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}
/*General*/
h1{
    font-weight: 500;
    font-size: 3rem;
    color: white;
}
h2{
    font-weight: 400;
    font-size: 1.7rem;
    margin: 16px 0 25px; 
    color: white;
}
h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
form{
    padding: 20px;
}

input[type="text"]{
    background-color: #fffffe;
    width: 500px;
    height: 70px;
    color: grey;
    padding: 20px;
    font-size: 1rem;
    border: none;
}

input[type="submit"]{
    background-color: #e50914;
    position: relative;
    left: -5px;
    width: 250px;
    height: 70px;
    color: #fffffe;
    font-size: 1.5rem;
    border: none;
    padding: 5px 0 10px;
}
.sect{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-bottom: 10px solid #222222;
}
.desc{
    width: 600px;
    margin: auto;
}

/* Header */

header{
    background-color: transparent;
    padding: 1rem 0;
    position: fixed;
    width: 100%;

}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}
.n-logo{
    width: 12%;
}

.sign-btn{
    background-color: #E50914;
    height: 35px;
    width: 120px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
.nav-link{
    text-decoration: none;
    color: #fffffe;
}
/*section one*/

.section-one{
    background-image:linear-gradient( to bottom , rgba(0,0,0,.8), rgba(0, 0, 0, 0.112)), url(images/firstsectionpicture.jpg);
    background-size: cover;
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 10px solid #222222;

}
..content{
    color: #fffffe;
    padding-top: 100px;
}

.main-title{
    font-size: 4rem;
    width: 800px;
}
/*section two*/

.tv-pic{
    width: 85%;
}

/*section three*/
.stranger-things{
    width: 85%;
}

/* Section Four */
.section-four{
    background-color: #000;
    color: #fffffe;
    padding: 50px 200px;
    border-bottom: 10px solid #222222;
}

/*section five*/
.section-five{
    padding: 50px 80px 50px 150px;
}
.overthemoon{
    width: 85%;
}
/*section six*/
.section-six{
    margin: 0 auto;
    padding: 50px;
    color: white;
    background-color: #000;
    text-align: center;
    border-bottom: 10px solid #222222;
}
.box{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    padding: 30px;
    background-color: #303030;
    font-size: 1.5rem;
    color: white;
}
.bigpapa{
    padding: 40px 0;
}

    
/* Section Seven */
.section-seven{
    background-color: #000;
    color: #737373;
    padding: 100px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.footer-list{
    list-style: none;
    line-height: 2rem;
    text-align: left;
}

.f-link{
    text-decoration: none;
    color: #737373;
    font-size: 0.9rem;
}